* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0.6, 0, 0, 0.3), rgba(0.6, 0, 0, 0.3)),
    url(./images/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav img {
  display: block;
  height: 70px;
  width: 70px;
  position: relative;
  left: 40%;
  border-radius: 50%;
  transition: 0.4s;
}

nav img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  align-items: center;
}

nav ul {
  width: 50%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  padding: 10px 20px;
  position: relative;
  letter-spacing: 1px;
}

nav ul li a::after {
  content: "";
  height: 3px;
  width: 0;
  background-color: rgb(255, 71, 111);
  position: absolute;
  top: 100%;
  left: 0%;
  transition: 0.5s all;
}

nav ul li a:hover::after {
  width: 100%;
}

.info_box {
  height: 250px;
  width: 300px;
  border: 1px solid white;
  position: relative;
  top: 30%;
  left: 10%;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 29px 52px rgba(0, 0, 0, 0.4), 0 25px 16px rgba(0, 0, 0, 0.2);
}

.info_box h2 {
  text-align: center;
  color: #fff;
  font-size: 38px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
}

span {
  color: rgb(255, 71, 111);
}

.info_box p {
  text-align: center;
  font-size: 15px;
  color: #fff;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 15%;
}

.btn button {
  padding: 10px 20px;
  border: none;
  background-color: rgba(165, 42, 42, 0.836);
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: bold;
}

#btn-1 {
  border: 1px solid #fff;
  transition: 0.3s;
}

#btn-1:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#btn-2 {
  background-color: transparent;
  color: #000;
  border: 1px solid #fff;
  transition: 0.3s;
}

#btn-2:hover {
  background-color: #fff;
  cursor: pointer;
  color: #000;
  transform: scale(1.1);
}
