*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0.8,0,0,0.3),rgba(0.8,0,0,0.3)),url(./images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav img{
    display: block;
    height: 70px;
    width: 100px;
}